<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Rick and Morty</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="navbarCollapsed = !navbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="navbarCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="characters">Characters</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
